.scrollStackScroller {
  position: relative;
  width: 100%;
}

.scrollStackCardWrapper {
  position: relative;
}

.scrollStackCard {
  position: sticky;
  top: 10vh;
  transform-origin: top center;
  will-change: transform, filter;
  backface-visibility: hidden;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin-bottom: 120px;
  padding: 3rem;
  border-radius: 40px;
  box-sizing: border-box;
}

.scrollStackEnd {
  width: 100%;
  height: 1px;
}
